a {
    text-decoration: none;
}
h1 {
    font-size: 30px;
    font-weight:500;
}
h2 {
    font-size: 26px;
    font-weight:100;
}
h3 {
    font-size: 36px;
    color: white;
    font-weight: 400;
    text-align: center;
}
h4 {
    font-size: 12px;
    color: black;
    font-weight: 400;
}

body {
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif
}
